services:
  - type: web
    name: shiftmate3.0
    env: python
    plan: free
    branch: Deployment
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn App.main:app"
    envVars:
      - fromGroup: shiftmate3-settings
      - key: FLASK_SQLALCHEMY_DATABASE_URI
        value: "postgresql://shiftmate_db_ioie_user:hUbLj1TBqxFcMCQd7uf6eSzWLnviolHE@dpg-d4nj0veuk2gs739q3tb0-a/shiftmate_db_ioie"

envVarGroups:
  - name: shiftmate3-settings
    envVars:
      - key: FLASK_ENV
        value: "PRODUCTION"

      - key: FLASK_SECRET_KEY
        value: "eee60a29b02f6f78a19aa0ba2bf9a9ad740aeae67086de133486489a7843cf9e"

      - key: FLASK_JWT_ACCESS_TOKEN_EXPIRES
        value: "7"

databases:
  - name: shiftmate3-db
    plan: free
    databaseName: shiftmate_db_ioie
